.title {
    margin: .5% 0px 5% 0px;
    font-size: 1.5em;
}

.input {
    font-size: 1.2em;
    border: .07em solid #171212;
    border-radius: .3em;
    background-color: #f0f0f0;
    padding: .2em .5em; /* Adjust padding for better usability */
    width: 100%; /* Ensure inputs stretch nicely inside their containers */
    box-sizing: border-box; /* Prevents padding from affecting width */
}

.form-field {
    display: block; /* Ensure consistent spacing */
    font-size: 1.1em;
    color:#333;
}

.form-field-container {
    margin-bottom: 1.1em;
}

body {
    display: flex;
    justify-content: center; /* Horizonatlly center the form */
    align-items: center; /*  Vertically center the form */
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

button {
    margin-top: 6%;
    background-color: #171212;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

button:hover {
    background-color: #333333;
}